html {
	scroll-behavior: smooth;
	position: relative;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	background-color: #f3f4f8;
	font-family: Inter, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #171717;
}

img, svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,p {
	margin: 0;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container {
	--width: 1180px;
	--padding: 30px;
	max-width: calc(var(--width) + var(--padding) * 2);
	margin: 0 auto;
	padding: 0 var(--padding);
}

.section {
  margin-bottom: 120px;
}

.section__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 167%;
  color: #000;
  text-align: left;
}

.section__subtitle {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  text-align: left;
}

.section__subtitle::before {
  position: absolute;
  left:0;
  top: 50%;
  z-index: -1;
  display: block;
  content: "";
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: #ffa501;
  transform: translateY(-50%);
}
/* burger */




/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
	padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1543px;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
  flex-grow: 1;
	gap: 24px;
}


/* nav */

.nav{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height:682px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffa501;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transform: translateY(-100%);
  transition: .3s;
}

.nav__list {
  padding-top: 100px;
}

.nav__link {
  position: relative;
  display: block;
  padding: 12px 54px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .14s;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ffa501;
  transform: translate(-50%, -50%);
  transition: background-color .6s linear;
}

.nav__link:hover.nav__link::before{
  background-color: #fff;
}

.nav__link:hover {
  background-color: #d4dccf;
}

/* social */

.social__list {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.social__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border:2px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform-style: preserve-3d;
  transition: .25s ease-in-out;
  cursor: pointer;

}

.social__svg{
  color:#333;
  transition: color .5s ease-in-out;
  pointer-events: none;
}

.social__link:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-color:#fff;
}

.social__link:hover .social__svg{
  color:#fff;
  transform: scale(1.1) translateZ(20px);
}

.social__link--footer:hover{
  border-color:#ffa501;
}

.social__link:hover .social__svg--footer {
  color:#ffa501;
  transform: scale(1.1) translateZ(20px);
}




/* burger */
.burger__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffa501;
  position: absolute;
  top: 30px;
  left:200px;
  z-index: 10;
  cursor: pointer;
  box-shadow: 8px 8px 24px 0px rgb(133, 112, 112);
}

.burger__box:hover {

}
.burger__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transform: scale(.9);
  transition: .5s;
}

.burger__icon {
  width: 30px;
  height: 2px;
  background-color:#ffa501;
  border-radius: 5px;
  transition: 1s cubic-bezier(.6, -0.46, .21, 1.3);
}

.burger__icon::before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 2px;
  background-color: #ffa501;
  border-radius: 5px;
  transform: translateY(-8px);
  transition: .5s cubic-bezier(1, -0.81, .17, 1.2);
}

.burger__icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 2px;
  background-color: #ffa501;
  border-radius: 5px;
  transform:translateX(15px) translateY(8px);
  transition: .5s cubic-bezier(1, -0.81, .17, 1.2);
}

#burger__toggle:checked ~ .burger__box > .burger__overlay {
  background-color: #fff;
  transform: scale(1.05) rotate(360deg);
}

#burger__toggle:checked ~ .burger__box > .burger__overlay > .burger__icon {
  background-color: transparent;
  transform: rotate(360deg);
}

#burger__toggle:checked ~ .burger__box > .burger__overlay > .burger__icon::before {
  width: 30px;
  transform: translateY(0px) rotate(45deg);
}

#burger__toggle:checked ~ .burger__box > .burger__overlay > .burger__icon::after {
  width: 30px;
  transform: translateY(0px) rotate(-45deg);
}

#burger__toggle{
  visibility: hidden;
}

#burger__toggle:checked ~ .nav{
  transform: translateY(0);
}




/* hero */
.hero {
  margin: 0 auto;
  max-width: 1543px;
  background-image: url("./hero_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 120px;
}

.hero__container {
  padding-top: 240px;
  padding-bottom: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero__content {
  position: relative;
  max-width: 532px;
}

.hero__svg {
  position: absolute;
  top: 0;
  left: 50px;
  animation: rotate 20s linear infinite;
}
.hero__svg-text {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  fill:rgba(255, 166, 1, 0.345);
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}


.hero__title {
  position: relative;
  z-index: 1;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.hero__description {
  position: relative;
  z-index: 1;
  padding-left: 5px;
  margin-bottom: 10px;
  max-width: 532px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.hero__description::before {
  position: absolute;
  left:0;
  top: 50%;
  z-index: -1;
  display: block;
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffa501;
  transform: translateY(-50%);
}
/* about */

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 1px solid #ffa501;
  text-align: center;
}

.about__description {
  margin-bottom: 30px;
}

.about__example-title {
  margin-bottom: 30px;
}


/* code */

.code__title {
  margin-bottom: 30px;
}

.code__container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 250px;
  border-radius: 15px;

  transition: .5s;
  overflow: hidden;
}
.code__container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a),#ffa501 0%,#ffa501 10%, transparent 10%, transparent 80%, #ffa501 100%);
  border-radius: 15px;
  animation: animateBorder 2.5s linear infinite;;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animateBorder {
  0%{
    --a: 0deg;
  }
  100%{
    --a: 360deg;
  }
}

.code__border {
  position: absolute;
  inset: 2px;
  overflow: hidden;
  border-radius: 15px;
}

.code__border::before {
  content: "";
  position: absolute;
  inset: 2px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
}
.code__border::after {
  content: "";
  position: absolute;
  inset: 5px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
}

.code__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  z-index: 2000;
  text-align-last: left;
}


/* skills */
.skills__container {
  display: flex;
  gap: 70px;
  padding: 30px 0;
  border-bottom: 1px solid #ffa501;
}

.skills__img {
  filter: drop-shadow(0 15px 10px #000);
}

.skills__content {
  text-align-last: left;
}

.skills__description {
  margin-bottom: 40px;
}

.skills__list {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.skills__item {
  position: relative;
}

.skills__item::after {
  position:absolute;
  left: 70%;
  top: 65%;
  z-index: -1;
  display: block;
  content: "";
  width: 150px;
  height: 150px;
  border: 1px solid rgb(255, 165, 1, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
/* article */

.article-block {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 260px;
}

.article-block--education {
  position: absolute;
  top: 20px;
  left: 5px;
  padding: 40px;
  width: 100%;
  height: 100%;
  z-index: 5000;

}

.article-block__fig {
  position: relative;
  z-index: 1000;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffa501;
}

.article-block__fig::before {
  position: absolute;
  left:50%;
  top: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-size:contain;
  transform: translateY(-15%);
}

.article-block__fig--web::before {
  background-image: url('./web-development.svg');
}

.article-block__fig--design::before {
  background-image: url('./design.svg');
}

.article-block__fig--speak::before {
  background-image: url('./speak.svg');
  transform: translateY(-25%);
}

.article-block__fig--udemy::before {
  background-image: url('./udemy-logo.svg');
  width: 35px;
  height: 25px;
}

.article-block__fig--stepik::before {
  background-image: url('./stepik_logo.svg');
  width: 55px;
  height: 35px;
  left: 20%;
}

.article-block__fig--rsschool::before {
  background-image: url('./rs-school-logo.svg');
  height: 36px;
  width: 36px;
}

.article-block__title {
  margin-bottom: 15px;
}


/* education */

.education__container {
  padding: 30px 0;
  border-bottom: 1px solid #ffa501;
}
.education__title, .education__subtitle {
  text-align-last: left;
}

.education__list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.education__item {
  position: relative;
  width: 300px;
  height: 300px;
  background: repeating-conic-gradient(from var(--a), #ff8c00 0%, #ff8c00 5%, transparent 5%, transparent 40%,#ff8c00 50%);
  animation: animateBorder 2s linear infinite;
  animation-play-state: paused;
  border-radius: 100%;
  filter: drop-shadow(0 15px 10px #000);
}

.education__item:nth-child(1) {
  filter: drop-shadow(0 15px 10px #000);
}

.education__item:nth-child(3) {
  filter: drop-shadow(0 15px 10px #000);
}

.education__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), #ffa501 0%, #ffa501 5%, transparent 5%, transparent 40%,#ffa501 50%);
  animation: animateBorder 2s linear infinite;
  animation-delay: -0.5s;
  animation-play-state: paused;
  border-radius: 100%;
}

.education__item::after {
  content: '';
  position: absolute;
  inset: 6px;
  border-radius: 100%;
  background-color: #fff;
}

.education__item:hover,
.education__item:hover.education__item::before {
  animation-play-state:running;
}
/* tools */

.tools__container {
  padding: 30px 0;
  border-bottom: 1px solid #ffa501;
}

.tools__list {
  display: flex;
  gap: 20px 100px;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.tools__item {
  position: relative;
  display: flex;
  margin: 30px 0;
  width: 40%;
  height: 250px;
  border-radius: 20px;

  background-color: #fff;
}

.tools__item:hover .tools__img-box {
  top: calc(50% - 75px);
  left: -75px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.tools__img {
  max-width: 100px;

}
.tools__item:hover .tools__img {
  max-width: 75px;
}

.tools__img-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  overflow: hidden;
  transition: .5s ease-in-out;
}

.tools__content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools__content-title {
  margin-bottom: 5px;
  padding: 20px;
  font-size: 24px;
  color: #ffa501;
}

.tools__description {
  padding: 20px;
}

.slider {
  margin-bottom: 20px;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #ffa501 10% 90%,
    transparent
  );
}

.slider__list {
  position: relative;
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));

}

.slider__item {
  position: absolute;
  left: 100%;
  width: var(--width);
  height: var(--height);
  animation: autoRun 10s linear infinite;
  transition: filter .5s;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1))!important;
}

.slider__img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .slider__item  {
  animation-play-state: paused!important;
  filter: grayscale(1);
}

.slider .slider__item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .slider__item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

/* portfolio */

.portfolio__container {
  padding: 30px 0;
  border-bottom: 1px solid #ffa501;
}

.portfolio__title, .portfolio__subtitle {
  text-align: center;
}

.portfolio__subtitle::before {
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio__list {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
.portfolio__item {
  width: 260px;
  height: 260px;
  border: 1px solid #ffa501;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0 15px 10px #000);
}

.article-block--portfolio {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s ease-out;
	overflow: hidden;
  height: 100%;
}

.article-block__title--portfolio {
  margin-bottom: 50px;
  text-align: center;
}

.article-block__img--portfolio {
  height: 100%;
  width: 100%;
  vertical-align: top;
  transition: all .5s ease-out;
}

.article-block--portfolio:hover .article-block__img--portfolio{
  transition: all 0.5s ease-out;
  transform: scale(1.2, 1.2) rotate(-15deg);
}

.article-block--portfolio:hover .article-block__text--portfolio {
  transform: translateX(0);
}
.article-block__text--portfolio {
  padding: 20px;
  background: rgba(27, 26, 26, 0.5);
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  cursor: no-drop;
  color: #fff;
  height: 100%;
  width: 100%;
}

.article-block__description--portfolio {
  margin-bottom: 20px;
}
/* contacts */
.contacts__container {
  display: flex;
  gap: 70px;
}

.contacts__img {
  filter: drop-shadow(0 15px 10px #000);
}

.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts__item {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  gap: 45px;
}

.contacts__label {
  position: absolute;
  left: 20px;
  top: -15px;
  z-index: 1;
  display: block;
  padding: 1px;
  background-color: #F3F4F8;
  border-radius: 5px;
}

.contacts__label--email {
  left: 275px;
}

.contacts__input, .contacts__textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.33);

  background-color: #F3F4F8;
}
.contacts__textarea {
  resize: none;
}
.contacts__input:focus, .contacts__textarea:focus {
  background-color: #F3F4F8;
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

.contacts__input:focus .contacts__label {
  top: 8px;
}

.contacts__item--btn {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border: 1px solid;
  border-radius: 8px;
  font-weight: 300;
  font-size: 20px;
  color: #ffa501;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.contacts__btn {
  width: 101%;
  height: 100%;

  background-color: #ffa501;
  mask: url('./nature-sprite.png');
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}

.contacts__btn:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}
@-webkit-keyframes ani {
  from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  }

  to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  }

  to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
  }

  to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
  }

  to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  }
}

.contacts__btn-mask {
  position: absolute;
  padding: 12px 20px;
  color: #ffa501;
  text-align: center;
  width: 101%;
  font-weight: 300;
  font-size: 20px;
  overflow: hidden;
}

.contacts__privacy-policy input {
  margin-right: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ffa501;
  -webkit-text-fill-color: #ffa501;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* footer */

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  border-top: 1px solid #ffa501;
}

.footer__link:hover {
  color: #ffa501;
}

.footer__img {
  width: 56px;
  height: 56px;
}


/* формируем тело кнопки, положение и эффект перехода */

.scrollTop {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: fixed;
    z-index: 1000;

    /* размеры кнопки */
    width: 60px;
    height: 60px;
    /* положение кнопки */
    right: 5px;
    bottom: 90px;
    /* вид курсора */
    cursor: pointer;
    /* эффект перехода между двумя состояниями кнопки */
    -webkit-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1)
}

/* смещение кнопки вверх при наведении */



/* дополнительные элементы офрмления кнопки */

.scrollTop:before,
.scrollTop:after {
    content: "";
    top: 0;
    left: 0;
    background-color: #ffa501;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
}

/* определяем имя, тип и скорость анимации лля :before */
.scrollTop:before {
    background-color: #ffa501;
    -webkit-animation: clickMe 1.8s 333ms infinite ease-out;
    -moz-animation: clickMe 1.8s 333ms infinite ease-out;
    animation: clickMe 1.8s 333ms infinite ease-out
}

/* определяем имя, тип и скорость анимации лля :after */
.scrollTop:after {
    -webkit-animation: clickMe 1.8s 777ms infinite ease-out;
    -moz-animation: clickMe 1.8s 777ms infinite ease-out;
    animation: clickMe 1.8s 777ms infinite ease-out
}



/* анимация */
@-webkit-keyframes clickMe {
    0% {
        opacity: 0;
        -webkit-transform: scale(0)
    }

    5% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes clickMe {
    0% {
        opacity: 0;
        -moz-transform: scale(0)
    }

    5% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes clickMe {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0)
    }

    5% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
