html {
  position: relative;
  box-sizing:border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  background-color: #333;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


.wrap {
	height: 350px;
	margin: 50px auto 0;
	position: relative;
	width: 500px;
}

.wrap > input {
	display: none;
}

.slider__wrapper {
	background-color: #333;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.slider__item {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.slider__text {
    padding: 10px;
}



.slider__item--1 {
    background-image: url('./img/1.jpg');
}
.slider__item--2 {
    background-image: url('./img/2.jpg');
}
.slider__item--3 {
    background-image: url('./img/3.jpg');
}
.slider__item--4 {
    background-image: url('./img/10556073.jpg');
}

.slider__control {
	position: absolute;
	margin-left: -50px;
	left: 50%;
}

.slider__control label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 10px;
	position: relative;
	width: 8px;
	border-radius: 100%;
    background-color: #71A5F1;
    border: 2px solid #71A5F1;
}

.slider__control label:hover {
    background-color: #fff;
    border-color: #fff;
}

/* .slider__control label:after {
	border: 2px solid #71A5F1;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 100%;
} */

#point1:checked ~ .slider__control label:nth-of-type(1),
#point2:checked ~ .slider__control label:nth-of-type(2),
#point3:checked ~ .slider__control label:nth-of-type(3),
#point4:checked ~ .slider__control label:nth-of-type(4) {
	background-color: transparent;
}



.slider__item{
    transform: rotate(55deg);
    filter: hue-rotate(90deg);
    transition: 1s;
}

#point1:checked ~ .slider__wrapper > .slider__item--1,
#point2:checked ~ .slider__wrapper > .slider__item--2,
#point3:checked ~ .slider__wrapper > .slider__item--3,
#point4:checked ~ .slider__wrapper > .slider__item--4 {
	opacity: 1;
	z-index: 1;
    transform: none;
    filter: none;
}
#point1:checked ~ .slider__wrapper >.slider__item--1 > .slider__text {
    animation: grow 2s linear;
}
#point2:checked ~ .slider__wrapper >.slider__item--2 > .slider__text {
    animation: grow 2s linear;
}
#point3:checked ~ .slider__wrapper >.slider__item--3 > .slider__text {
    animation: grow 2s linear;
}
#point4:checked ~ .slider__wrapper >.slider__item--4 > .slider__text {
    animation: grow 2s linear;
}


@keyframes grow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 768px){
    .wrap {
        height: 200px;
        margin: 50px auto 0;
        position: relative;
        width: 270px;
    }
}
