body {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 50px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  align-items: flex-start;
  grid-template-areas:
  'game next'
  'game score';
}

.game-area {
  display: block;
  border: solid #000;
  border-width: 0 2px 3px 2px;
}
