
@font-face {
  font-display: swap;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Georgia.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Georgia;
  font-style: bold;
  font-weight: 700;
  src: url('./../fonts/Georgia-Bold.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Georgia;
  font-style: italic;
  font-weight: 400;
  src: url('./../fonts/Georgia-Italic.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Arial.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  src: url('./../fonts/Arial-Italic.woff2') format("woff2");
}

:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* colors */
  --color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--footer-gradient-background: #211f20;
  /* fonts */
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --font-size: 15px;
  --font-weight: 400;
  --line-height: 1.6;
}

html {
  position: relative;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-dark-xl);
  background-color: var(--color-light-xl);
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.no-click {
  pointer-events: none;
  cursor: default;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

/* header */

.header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 50;
}

.header--pets {
  position: static;
  padding: 31px 0;
  background-color: var(--color-light-xl);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.header__logo-title {
  margin-bottom: 7px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.header__logo-title--pets {
  color: var(--color-dark-l);
}

.header__logo-subtitle {
  padding-left: 4px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.header__logo-subtitle--pets {
  color: var(--color-dark-3xl);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-bottom: 6px;
  padding-right: 2px;
}

.nav__list--pets {}

.nav__link {
  position: relative;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
  transition: color .24s ease-in-out;
  cursor: pointer;
}

.nav__link::after {
  content: '';
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--color-primary);
  transition: width 0.4s ease-in-out;
}
.nav__link:hover {
  color: var(--color-light-s);
}

.nav__link:hover::after,
.nav__link.active::after {
  width: 100%;
}

.nav__link--pets {
  color: var(--color-dark-l);
}

.nav__link--pets:hover {
  color: var(--color-dark-3xl);
}


/* not-only */
.not-only {
  position: relative;
  padding: 343px 0 243px;
  background:#211f20;
  background: url('./../image/noise_transparent.png');
  background:url('./../image/noise_transparent.png'), radial-gradient(237.5% 111.8% at 0% 0%,
      rgb(91, 72, 58) 0%,
      rgb(38, 36, 37) 100%);
  background-repeat: repeat;
  overflow: hidden;
}

.not-only__container {
  position: relative;
}

.not-only__container::after {
  content: '';
  position: absolute;
  bottom: -75%;
  right: 4%;
  z-index: 1;
  display: block;
  width: 698px;
  height: 728px;
  background-image: url('./../image/start-screen-puppy.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.not-only__title {
  margin-bottom: 42px;
  max-width: 310px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  color: var(--color-light-xl);
}

.not-only__text {
  margin-bottom: 42px;
  max-width: 460px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
}

.not-only__btn {
  display: inline-block;
  border-radius: 100px;
  padding: 14px 44px;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: background-color 0.24s ease-in-out;
  cursor: pointer;
}

.not-only__btn:hover {
  background:var(--color-light-xl);
}

/* about */

.about {
  padding: 80px 0 100px;
  background-color: var(--color-light-xl);
}



.about__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__container::before {
  content: '';
  display: block;
  flex-basis:45%;
  height: 408px;
  background-image: url('./../image/about-pets.png');
  background-position: 73%;
  background-size: contain;
  background-repeat: no-repeat;
}

.about__content {
  flex-basis: 51%;

  padding-left: 7px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
}

.about__title {
  max-width: 370px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-align: left;
}

.about__title-second {
  margin-left: -3px;
}

.about__text {
  max-width: 430px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-xl);
}
/* our-friends */

.our-friends {
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.our-friends--pets {
  padding: 76px 0 100px;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-friends__title {
  font-family: var(--font-family);
  margin-bottom: 60px;
  max-width: 400px;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.our-friends__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 90px;
  margin-bottom: 60px;
}

.our-friends__list--pets {
  grid-template-columns: repeat(4, 270px);
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 63px;
}
.our-friends__item {
  padding: 294px 43px 30px;
  background-color: var(--color-light-s);
  background-size: 270px;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 9px;
  transition: box-shadow 0.24s ease-in-out, transform 0.24s ease-in-out, background-color 0.24s ease-in-out;
  cursor: pointer;
}

.our-friends__item:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: var(--color-light-xl);
  transform: translateY(-5px);
}

.our-friends__item:hover .our-friends__btn {
  background-color:var(--color-primary);
  color: var(--color-dark-l);
}
.our-friends__item--katrine {
  background-image: url('./../image/pets-katrine.png');
}
.our-friends__item--jennifer {
  background-image: url('./../image/pets-jennifer.png');
}
.our-friends__item--woody {
  background-image: url('./../image/pets-woody.png');
}

.our-friends__item--sophie {
  background-image: url('./../image/pets-sophia.png');
}

.our-friends__item--timmy {
  background-image: url('./../image/pets-timmy.png');
}

.our-friends__item--charly {
  background-image: url('./../image/pets-charly.png');
}

.our-friends__item--scarlet {
  background-image: url('./../image/pets-scarlet.png');
}

.our-friends__item--freddie {
  background-image: url('./../image/pets-freddie.png');
}

.our-friends__subtitle {
  font-family: var(--font-family);
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.our-friends__btn {
  padding-top: 3px;
  width: 187px;
  height: 52px;
  border: 3px solid var(--color-primary);
  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: background-color 0.24s ease-in-out, color 0.24s ease-in-out;
}

.our-friends__btn-more {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: var(--color-primary);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: background-color 0.24s ease-in-out, color 0.24s ease-in-out;
}

.our-friends__btn-more:hover {
  background-color: var(--color-light-l);
  color: var(--color-primary);
}

.our-friends__arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: translateY(19px);
}
.our-friends__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  color: #292929;
  transition: background-color 0.24s ease-in-out, color 0.24s ease-in-out;
  cursor: pointer;
}

.our-friends__arrow:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
}

.our-friends__arrow--right {
  transform: translateX(-160px);
}
.our-friends__arrow--left {
  transform: translateX(160px);
}


.pagination {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-dark-s);
  border-radius: 100px;
  color: var(--color-dark-s);
}

.pagination__link--doublenext:hover, .pagination__link--next:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
}

.pagination__link--active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
}

.pagination__link--next, .pagination__link--doublenext {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
  cursor: pointer;
}


/* help */

.help {
  padding: 80px 0 100px;
  background-color: var(--color-light-xl);

}

.help__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.help__title {
  max-width: 318px;
  margin-bottom: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}
.help__list {
  display: flex;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;

  color: var(--color-primary);
  transition: color 0.24s ease-in-out;
}
.help__item:hover {
  color:#292929;
}
.help__subtitle {
  padding-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}
/* in-addition */

.in-addition {
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.in-addition__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in-addition__container::before {
  content: '';
  display: block;
  flex-basis: 54%;
  height: 261px;
  background-image: url('./../image/donation-dog.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 5px;
  transform: translateY(-6px);
}

.in-addition__content {
  padding-left: 5px;
  flex-basis: 44%;
}

.in-addition__title {
  margin-bottom: 20px;
  max-width: 300px;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.in-addition__bank {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.in-addition__card {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  max-width: 350px;
  border-radius: 9px;
  padding: 10px 15px;
  background-color: var(--color-primary);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  transition: color 0.24s ease-in-out, background-color 0.24s ease-in-out;
  cursor: pointer;
}

.in-addition__card:hover {
  background-color: var(--color-dark-l);
  color: var(--color-primary);
}

.in-addition__description {
  font-family: var(--second-family);
  max-width: 380px;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-dark-m);
}
/* footer */

.footer {
  padding: 56px 0 60px;
  background:#211f20;
  background: url('./../image/noise_transparent.png');
  background:url('./../image/noise_transparent.png'), radial-gradient(237.5% 111.8% at 0% 0%,
      rgb(91, 72, 58) 0%,
      rgb(38, 36, 37) 100%);
  background-repeat: repeat;
  overflow: hidden;
}

.footer__container {
  position: relative;
  display: flex;
  gap: 137px;
}

.footer__container::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  display: block;
  width: 300px;
  height: 310px;
  background-image: url('./../image/footer-puppy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  transform: translate(-40px, -30px);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 302px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  max-width: 302px;
}

.footer__title {
  margin-bottom: 33px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.footer__title--pets {
  margin-bottom: 26px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer__link {
  position: relative;
  display: flex;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: color 0.24s ease-in-out;
  cursor: pointer;
}


.footer__link:hover {
  color: var(--color-light-l)
}

.footer__link--email {
  padding-top: 8px;
}

.footer__link--tel {
  padding-top: 6px;
}

.footer__link--pets {
  padding-top: 9px;
}

.footer__link-svg {
  flex-shrink: 0;
}

.footer__link-span {
  padding-top: 5px;
}
