
@font-face {
  font-display: swap;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Georgia.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Georgia;
  font-style: bold;
  font-weight: 700;
  src: url('./../fonts/Georgia-Bold.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Georgia;
  font-style: italic;
  font-weight: 400;
  src: url('./../fonts/Georgia-Italic.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Arial.woff2') format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  src: url('./../fonts/Arial-Italic.woff2') format("woff2");
}

:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* colors */
  --color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
  /* fonts */
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --font-size: 15px;
  --font-weight: 400;
  --line-height: 1.6;
}

html {
  position: relative;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-dark-xl);
  background-color: var(--color-light-xl);
}

body.body--locked {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100wh;
  width: 100vw;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.no-click {
  pointer-events: none;
  cursor: not-allowed;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

/* header */

.header {
  padding-top: 30px;
  padding-bottom:0;
  background: url('../image/noise_transparent.png') repeat, radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-attachment: fixed;
}

.header--pets {
  position: static;
  padding: 30px 0 27px;
  background: var(--color-light-xl);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.header__logo-title {
  margin-bottom: 7px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.header__logo-title--pets {
  color: var(--color-dark-l);
}

.header__logo-subtitle {
  padding-left: 4px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.header__logo-subtitle--pets {
  color: var(--color-dark-3xl);
}

/* nav */

.nav {
  position: relative;
  z-index: 5000;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-bottom: 6px;
  padding-right: 2px;
}

.nav__link {
  position: relative;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
  transition: color .24s ease-in-out;
  cursor: pointer;
}

.nav__link:hover {
  color: var(--color-light-s);
}




.nav__link.nav__link--active {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--color-primary);;
  color: var(--color-light-s);
  cursor:auto;
}

.nav__link--pets {
  color: var(--color-dark-l);
}

.nav__link--pets:hover {
  color: var(--color-dark-3xl);
}
.nav__link--pets.nav__link--active {
  color: var(--color-dark-3xl);
  cursor:auto;
}

/* burger */



.burger__hide {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 320px;
  height: 100px;
  background-color: var(--color-dark-3xl);
  transform: translateX(100%);
  transition: 1s cubic-bezier(.6, -0.46, .21, 1.3);
}

.burger__hide--pets {
  background-color: var(--color-light-xl);
}

.burger__box {
  position: relative;
  display: none;
  align-items:center;
  justify-content: center;
  width: 30px;
  height: 22px;
  transition: 1s cubic-bezier(.6, -0.46, .21, 1.3);
}

.burger__box.nav--open {
  transform: rotate(90deg);
  transition: 1s cubic-bezier(.6, -0.46, .21, 1.3);
}

.burger__line,
.burger__line::before,
.burger__line::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

.burger__line--pets,
.burger__line--pets::before,
.burger__line--pets::after {
  background-color: #000;
}

.burger__line {
  transform: translateY(-50%);
}

.burger__line::before {
  content: '';
  top: -10px;
}

.burger__line::after {
  content: '';
  top: 10px;
}




/* not-only */
.not-only {
  position: relative;
  padding: 250px 0 243px;
  background: url('../image/noise_transparent.png') repeat, radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-attachment: fixed;
  overflow: hidden;
}

.not-only__container {
  position: relative;
}

.not-only__container::after {
  content: '';
  position: absolute;
  bottom: -75%;
  right: 3%;
  z-index: 1;
  display: block;
  width: 698px;
  height: 728px;
  background-image: url('./../image/start-screen-puppy.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.not-only__title {
  margin-bottom: 40px;
  max-width: 310px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  color: var(--color-light-xl);
}

.not-only__text {
  margin-bottom: 42px;
  max-width: 460px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
}

.not-only__btn {
  display: inline-block;
  border-radius: 100px;
  padding: 14px 44px;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: background-color 0.24s ease-in-out;
  cursor: pointer;
}

.not-only__btn:hover {
  background:var(--color-light-xl);
}

/* about */

.about {
  padding: 80px 0 100px;
  background-color: var(--color-light-xl);
}



.about__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 119px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
}

.about__title {
  max-width: 370px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-align: left;
}

.about__title-second {
  margin-left: -3px;
}

.about__text {
  max-width: 430px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-xl);
}

/* our-friends */

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.our-friends--pets {
  padding: 80px 0 95px;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-friends__title {
  font-family: var(--font-family);
  margin-bottom: 63px;
  max-width: 400px;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.our-friends__title--pets {
  margin-bottom: 58px;
}

.our-friends__preloader {
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-friends__preloader-svg {
  transform: rotate(0);
  animation: preload .5s linear infinite;
}

@keyframes preload {
  to {
    transform: rotate(360deg);
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin-bottom: 60px;
}

.slider__wrapper {
  position: relative;
  display: flex;
  max-width: 990px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.slider__carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 90px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.slider__carousel::-webkit-scrollbar {
  display: none;
}
.slider__carousel.no-transition {
  scroll-behavior: auto;
}


.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}






.our-friends__list:hover .our-friends__item{
  filter: grayscale(1);
}

.our-friends__list--pets {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 40px;
  row-gap: 33px;
  margin-bottom: 63px;
}

.our-friends__item {
  scroll-snap-align: start;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 30px;
  max-width: 270px;
  background-color: var(--color-light-s);

  border-radius: 9px;
  transition: box-shadow 0.24s ease-in-out, transform 0.24s ease-in-out, background-color 0.24s ease-in-out;
  cursor: pointer;
}


.our-friends__list .our-friends__item:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: var(--color-light-xl);
  transform: translateY(-5px);
  filter: grayscale(0);
}

.our-friends__item:hover .our-friends__btn {
  background-color:var(--color-primary);
  color: var(--color-dark-l);
}





.our-friends__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.our-friends__btn {
  padding-top: 3px;
  width: 187px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: background-color 0.24s ease-in-out, color 0.24s ease-in-out;
}

.our-friends__btn-more {
  display: inline-block;
  border-radius: 100px;
  padding: 14px 44px;
  border: 1px solid transparent;
  background-color: var(--color-primary);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: background-color 0.24s ease-in-out, color 0.24s ease-in-out;
}

.our-friends__btn-more:hover {
  background-color: var(--color-light-l);
  color: var(--color-primary);
  border-color:var(--color-primary);
}

.our-friends__arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: translateY(-12%);
}

.our-friends__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  color: #292929;
  transition: background-color 0.24s ease-in-out, color 0.24s ease-in-out;
  cursor: pointer;
}

.our-friends__arrow:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
}


.pagination, .pagination__list {
  display: flex;
  align-items: center;
  gap: 20px;
}


.pagination__item,
.pagination__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  color: var(--color-dark-3xl);
}




.pagination__item {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
}

.pagination__arrow--next,
.pagination__arrow--end {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-dark-3xl);
  cursor: pointer;
}

.arrow-disabled {
  border-color: var(--color-dark-s);
  color: var(--color-dark-s);
  cursor: none;
}
.pagination__arrow:not([disabled]):hover {
  background-color: var(--color-primary);
}


/* help */

.help {
  padding: 80px 0 100px;
  background-color: var(--color-light-xl);

}

.help__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.help__title {
  max-width: 318px;
  margin-bottom: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}
.help__list {
  display: flex;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;

  color: var(--color-primary);
  transition: color 0.24s ease-in-out;
}
.help__item:hover {
  color:#292929;
}
.help__subtitle {
  padding-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}
/* in-addition */

.in-addition {
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.in-addition__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}



.in-addition__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.in-addition__title {
  margin-bottom: 17px;
  max-width: 300px;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.in-addition__bank {
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.in-addition__card {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  border-radius: 9px;
  padding: 10px 15px;
  background-color: var(--color-primary);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  transition: color 0.24s ease-in-out, background-color 0.24s ease-in-out;
  cursor: pointer;
}

.in-addition__card:hover {
  background-color: var(--color-dark-l);
  color: var(--color-primary);
}

.in-addition__card svg {
  width: 30px;
  height: 23px;
  background-size: 30px 23px;
}

.in-addition__description {
  font-family: var(--second-family);
  max-width: 380px;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-dark-m);
}
/* footer */

.footer {
  padding: 58px 0 63px;
  background:#211f20;
  background: url('./../image/noise_transparent.png');
  background:url('./../image/noise_transparent.png'), radial-gradient(237.5% 111.8% at 0% 0%,
      rgb(91, 72, 58) 0%,
      rgb(38, 36, 37) 100%);
  background-repeat: repeat;
  overflow: hidden;
}

.footer__container {
  position: relative;
  display: flex;
  gap: 137px;
}

.footer__container::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 0;
  z-index: 1;
  display: block;
  width: 300px;
  height: 310px;
  background-image: url('./../image/footer-puppy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  transform: translate(-40px, -30px);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 302px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 302px;
}

.footer__title {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}


.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: color 0.24s ease-in-out;
  cursor: pointer;
}


.footer__link:hover {
  color: var(--color-light-l)
}

.footer__link--email {
  padding-top: 8px;
}

.footer__link--tel {
  padding-top: 6px;
}

.footer__link--pets {
  padding-top: 9px;
}

.footer__link-svg {
  flex-shrink: 0;
}

.footer__link-span {
  padding-top: 5px;
}

.footer__link-span--pets {
  padding-top: 3px;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.overlay--active {
  display: flex;
}

.modal {
  position: relative;
  display: flex;
  gap: 30px;
  margin: auto;
  max-width: 900px;
  height: 500px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: default;
}

.modal__close-btn {
  position: absolute;
  top: -52px;
  right: -52px;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  background-image: url('../image/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color .24s ease-in-out;
}

.modal__close-btn:hover {
  background-color: var(--color-primary);
}

.modal__img {
  flex-shrink: 1;
  max-width: 500px;
  border-radius: 9px 0 0 9px;
  object-fit: cover;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-right: 20px;
  max-width: 370px;
}

.modal__title {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal__breed {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal__description {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal__item {
  position: relative;
  padding-left: 15px;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #000;
}

.modal__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 100%;
  transform: translate(-50%, -50%);
}



@media screen and (max-width: 1260px) {
  .slider {
    gap: 12px;
  }

  .slider__wrapper {
    width: 580px;
  }

  .slider__carousel,
  .card {
    gap: 40px;
  }

  .our-friends__list--pets {
    grid-template-columns: repeat(3, 270px);
  }
}


@media (max-width: 1124px) {
  .container {
    position: relative;
    padding: 0 30px;
  }

  .not-only {
    padding: 60px 0 693px;
  }


  .not-only__container::after {
    bottom: -693px;
    width: 569px;
    height: 593px;
  }
  .not-only__title {
    margin-left: 125px;
  }

  .not-only__text {
    margin-left: 125px;
  }

  .not-only__btn {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .about__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }



  .about__img {
    order: 1;
  }

  .help__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .help__item {
    flex-basis: 170px;
  }

  .in-addition__container {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }

  .in-addition__img {
    order: 1;
  }


  .footer {
    padding-bottom: 378px;
  }

  .footer__container {
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .footer__container::after {
    top: auto;
    right: 50%;
    bottom: -375px;
    transform: translateX(55%);
  }

  .modal {
    max-width: 630px;
  }

  .modal__content {
    padding: 10px;
  }


  .modal__breed {
    margin-bottom: 20px;
  }

  .modal__description {
    margin-bottom: 20px;
    font-size: 13px;
  }

  .modal__img {
    max-width: 349px;
  }
}

@media (max-width: 960px) {
  .our-friends--pets {
    padding-bottom: 76px;
    padding-top: 80px;
  }

  .our-friends__title--pets {
    margin-bottom: 28px;
  }

  .our-friends__item--scarlett, .our-friends__item--freddie {
    display: none;
  }

  .our-friends__list--pets {
    grid-template-columns: repeat(2, 270px);
    margin-bottom: 40px;
  }

  .footer__title--pets {
    margin-bottom: 30px;
  }

  .footer__link-span--pets {
    padding-top: 0;
  }

  .footer__list--pets {
    gap: 30px;
  }

  .footer__link-svg--pets {
    padding-top: 4px;
  }
}

@media (max-width: 768px) {
  .slider {
    gap: 12px;
    margin-bottom: 114px;
  }

  .slider__wrapper {
    max-width: 270px;
  }

  .slider__carousel {
    grid-auto-columns: 100%;
  }


  .our-friends__title {
    margin-bottom: 57px;
  }

  .our-friends {
    padding: 42px 0;
  }

  .our-friends__arrow {
    position: absolute;
    bottom: 90px;
  }

  .our-friends__arrow--left {
    left: 90px;
  }

  .our-friends__arrow--right {
    right: 90px;
  }

  .help__list {
    column-gap: 65px;
  }


  .in-addition__title {
    margin-bottom: 16px;
  }

  .footer {
    padding-top: 30px;
  }

  .footer__container {
    gap: 36px;
  }

  .footer__container::after {
    right: 52%;
    bottom: -376px;
  }

  .footer__container--pets::after {
    bottom: -374px;
  }
  .footer__title {
    margin-bottom: 31px;
  }

  .footer__list {
    gap: 32px;
  }


  .footer__link--email {
    padding-top: 9px;
  }
}

@media (max-width: 767px) {
  .header__container--pets {
    display: flex;
    align-items: center;
  }

  .header__container {
    padding: 0 40px;
  }

  .burger {

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }



  .burger__hide.nav--open {
    transform: translateX(0%);
    transition: 1s cubic-bezier(.6, -0.46, .21, 1.3);
  }


  .burger__box {
    z-index: 5000;
    display: flex;
    cursor: pointer;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 199;
    display: flex;
    align-items: center;
    padding-top: 248px;
    width: 320px;
    height: 100%;
    background-color: var(--color-dark-3xl);
    transform: translateX(100%);
    transition:transform 1s cubic-bezier(.6, -0.46, .21, 1.3);
    overflow-y: auto;
  }

  .nav--pets {
    background-color: var(--color-light-xl);
  }

  .nav.nav--open {
    transform: translateX(0);
  }

  .nav__list {
    flex-direction: column;
    gap: 40px;
    width: 320px;
    height: auto;
  }



  .nav__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: var(--color-dark-s);
  }

  .nav__link--pets {
    color: var(--color-dark-l);
  }

  .about__content {
    padding: 0 15px;
  }



  .modal {
    max-width: 240px;
  }

  .modal__title {
    text-align: center;
  }

  .modal__breed {
    text-align: center;
  }

  .modal__content {
    padding: 10px;
  }

  .modal__description {
    margin-bottom: 24px;
    font-size: 13px;
    text-align: justify;
  }

  .modal__img {
    display: none;
  }

  .modal__close-btn {
    top: -54px;
    right: -30px;
  }
}

@media (max-width: 680px) {
  .header__container {
    padding: 0 40px;
  }

  .not-only {
    padding-bottom: 377px;
  }
  .not-only__container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .not-only__title {
    margin-left: 0;
    margin-bottom: 42px;
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
  }
  .not-only__text {
    margin-left: 0;
    text-align: center;
  }

  .not-only__btn {
    padding: 15px 45px;
    margin-left: 0;
    transform: translateX(0);
  }

  .not-only__container::after {
    bottom: -377px;
    width: 260px;
    height: 271px;
  }

  .about {
    padding-top: 42px;
    padding-bottom:42px;
  }

  .about__container {
    gap: 42px;
  }

  .about__title {
    font-size: 25px;
    text-align: center;
  }

  .our-friends__title {
    margin-bottom: 43px;
    font-size: 25px;
  }

  .our-friends__title--pets {
    max-width: 300px;
  }

  .our-friends__list--pets {
    grid-template-columns: 270px;
  }

  .our-friends__item--sophia,
  .our-friends__item--timmy,
  .our-friends__item--charly,
  .our-friends__item--scarlett,
  .our-friends__item--freddie {
    display: none;
  }

  .pagination {
    gap: 10px;
  }

  .help {
    padding: 42px 0 42px;
  }

  .help__title {
    font-size: 25px;
  }

  .help__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 31px;
    row-gap: 30px;
  }

  .help__subtitle {
    padding-top: 20px;
  }

  .help__item {
    flex-basis: 130px;
  }

  .help__subtitle {
    font-size: 15px;
  }

  .in-addition {
    padding: 42px 0 42px;
  }

  .in-addition__container {
    gap: 42px;
  }


  .in-addition__content {
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .in-addition__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }

  .in-addition__bank {
    margin-bottom: 18px;
    letter-spacing: normal;
  }

  .in-addition__card {
    font-size: 15px;
  }

  .in-addition__description {
    text-align: justify;
    padding: 0 8px;
  }

  .footer {
    padding: 30px 0 311px;
  }

  .footer__container {
    flex-direction: column;
    gap: 40px;
  }

  .footer__container::after {
    width: 260px;
  }

  .footer__title {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
  }



  .footer__list--contacts {
    padding-left: 25px;
  }


  .footer__link--tel {
    padding-left: 6px;
  }

  .footer__address--pets {
    justify-content: center;
    align-items: center;
  }

  .footer__title--address {
    max-width: 270px;
    margin-bottom: 39px;
  }

  .footer__title-address--pets {
    max-width: 250px;
    text-align: center;
  }

  .footer__list--address {
    gap: 38px;
  }

}

@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }

  .header__container {
    padding: 0 40px;
  }
}

@media (max-width: 405px) {



  .not-only__text {
    margin-bottom: 40px;
    width: 300px;
    text-align: center;
  }

}


@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }

  .header__container {
    padding: 0 20px;
  }


  .not-only__title {
    letter-spacing: 0.06em;
  }


  .about__content {
    gap: 23px;
    align-items: center;
  }

  .about__text {
    text-align: justify;
    max-width: 270px;
  }

  .about__img {
    width: 260px;
  }

  .our-friends {
    padding-top: 41px;
  }

  .our-friends--pets {
    padding-top: 41px;
    padding-bottom: 44px;
  }

  .our-friends__title {
    margin-bottom: 41px;
  }

  .our-friends__arrow .our-friends__arrow--left {
    left: 42px;
  }

  .our-friends__arrow .our-friends__arrow--right {
    right: 42px;
  }

  .help {
    padding-top: 0;
  }

  .help__title {
    margin-bottom: 40px;
  }

  .help__item svg{
    width: 50px;
  }

  .in-addition__img {
    width: 260px;
  }

  .in-addition__bank {
    margin-bottom: 20px;
  }

  .footer--pets {
    padding-bottom: 313px;
  }

  .footer__title--pets {
    margin-bottom: 31px;
  }

  .footer__list--pets {
    padding: 0 24px;
  }

  .footer__link-tel--pets {
    padding-left: 7px;
  }

  .footer__title-address--pets {
    margin-bottom: 39px;
  }

  .footer__list-address--pets {
    padding: 0;
  }



  .footer__container::after {
    bottom: -331px;
    right: 54%;
  }
  .footer__container--pets::after {
    bottom: -333px;
  }
}
